#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
}

.tile-row {
  display: flex;
}

.tile {
  width: 70px;
  height: 70px;
  background-color: lightgray;
  margin: 10px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.match {
  background: springgreen;
}

.out-of-place {
  background: #f9d31d;
}

.none {
  background: darkgray;
}

.pulse {
  animation: 0.15s pulse;
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  20% {
    scale: 1.15;
  }
  100% {
    scale: 1;
  }
}
